.button {
    display: flex;
    position: relative;
    background-color: var(--cor12);
    width: 3.5em;
    height: 3.5em;
    padding: .5em;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow1);
    transition: .3s;
    color: var(--cor8);
}

.button:hover {
    cursor: pointer;
    background-color: var(--cor9);
    color: var(--cor10);
}

.button svg {
    font-size: 2em;
}
