.majorContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 1;
  transition: 0.5s;
  min-height: 1000px;
  background-color: var(--cor1);
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 71em;
  width: 71em;
  padding: 2em 0;
  gap: 1em;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
