.initial {
  color: var(--cor2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 745px; */
}

.content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content img {
  width: 350px;
  margin-bottom: 3em;
}

.content h1 {
  font-size: 4em;
  text-align: center;
}

.content h3 {
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
}
