* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html, body, #root {
  background-color: var(--cor1);
  height: 100%;
}

:root {
  --cor0: #ffffff;
  --cor1: #efefef;
  --cor2: #23cf5f;
  --cor3: #0a914b;
  --cor4: #efefef;
  --cor5: #447291;
  --cor6: #143246;
  --cor7: #158168;
  --cor8: #787878;
  --cor9: #5f5f5f;
  --cor10: #1bd273;
  --cor11: #ff6c6c;
  --cor12: #ebebeb;
  --cor13: #444; 
  --cor14: #cefae3;
  --cor15: #c1c1c1;
  --cor16: #8a0909;
  --cor17: #f8d7da;
  --shadow1: 0px 10px 15px -5px rgba(168, 168, 168, 0.5)
} 

/* .active{
  background-color: var(--cor3);
} */